[submodule "My-Masters-Thesis-LLMs-Learning-and-reasoning-at-the-Inference-stage"]
	path = My-Masters-Thesis-LLMs-Learning-and-reasoning-at-the-Inference-stage
	url = https://github.com/VladGKulikov/My-Masters-Thesis-LLMs-Learning-and-reasoning-at-the-Inference-stage.git
[submodule "My-2023-article-Whether-LLMs-Learn-at-the-Inference-Stage"]
	path = My-2023-article-Whether-LLMs-Learn-at-the-Inference-Stage
	url = https://github.com/VladGKulikov/My-2023-article-Whether-LLMs-Learn-at-the-Inference-Stage.git
